h1 {
  font-size: 38px;
  margin: 0px;
  text-align: center;
}

h2 {
  font-size: 34px;
  margin: 0px;
  text-align: center;
  border-style: solid;
  width: 100%;
}

// a {
//   text-align: center;
// }
